### 1. Preprocesesing

In [6]:
df_train = pd.read_excel('./data/job_train.xlsx')

In [7]:
# X : job description's 'responsibilities' and 'requirements' on LinkedIn
# y : {0 : 'Data Science', 1 : 'Digital Marketer', 2 : 'UX/UI Designer'}
df_train.tail(3)

                                                     X  y          y_name
298  98.. HTML/ CSS/ Javascipt Angular.js Photoshop...  2  UX/UI Designer
299  99.. 5-8 years of Software/Application Enginee...  2  UX/UI Designer
300  100.. Develop high level and detailed mockups,...  2  UX/UI Designer

In [8]:
X_train = df['X'].values
y_train = df['y'].values

In [9]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
count_vect = CountVectorizer(analyzer='word', stop_words='english', min_df=50)
X_train_count_vect = count_vect.fit_transform(X_train)

tfidf_transform = TfidfTransformer()
X_train_tfidf_transform = tfidf_transform.fit_transform(X_train_count_vect)

In [11]:
# make columns with vocabularies (bag of words) appeared in samples
column = [count_vect.vocabulary_.keys()]
X_train_count = count_vect.transform(X_train).toarray()
X_train_tfidf = tfidf_transform.fit_transform(X_train_count_vect).toarray()

In [13]:
# frequency count
pd.DataFrame(data=X_train_count, columns=column).head(5)

,skills,new,machine,content,project,best,modeling,practices,creative,support,...,software,including,related,management,data,quantitative,able,based,written,ability
0,2,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,2,0,2,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,2,1,2,3,2,2,0,1,1,9,...,1,0,1,0,0,0,3,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,3,0,0
4,3,0,10,1,0,0,0,1,0,2,...,1,2,1,0,0,0,1,2,0,1

In [14]:
# tfidf count
pd.DataFrame(data=X_train_tfidf, columns=column).head(5)

,skills,new,machine,content,project,best,modeling,practices,creative,support,...,software,including,related,management,data,quantitative,able,based,written,ability
0,0.138983,0.000000,0.000000,0.000000,0.095460,0.000000,0,0.000000,0.000000,0.089198,...,0.000000,0.000000,0.000000,0,0,0,0.000000,0.000000,0.000000,0.000000
1,0.078083,0.000000,0.219677,0.000000,0.214526,0.142639,0,0.000000,0.000000,0.100226,...,0.000000,0.000000,0.000000,0,0,0,0.000000,0.000000,0.000000,0.069415
2,0.068019,0.056752,0.095681,0.161612,0.093438,0.124254,0,0.062565,0.061276,0.392885,...,0.044039,0.000000,0.049511,0,0,0,0.109529,0.000000,0.050267,0.000000
3,0.000000,0.182212,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,...,0.141395,0.000000,0.000000,0,0,0,0.000000,0.416823,0.000000,0.000000
4,0.089225,0.000000,0.418373,0.047111,0.000000,0.000000,0,0.054714,0.000000,0.076352,...,0.038513,0.090225,0.043298,0,0,0,0.031928,0.075689,0.000000,0.026440